# Environment Files (Strict Protection)
.env*
**/.env*
!**/*.gpg

# Environment Templates (Vault-Protected)
opt/**
!opt/**/
!*.gpg

# Python
__pycache__/
*.pyc

# IDE/System
.vscode/
.idea/
.DS_Store

# Vault password
.vault_pass
config.yaml
